.buy-section {
  padding: 3rem 1rem 4rem 1rem;
  background: #101011;
  text-align: center;
}
.buy-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #fff;
}
.buy-btn {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  border-radius: 2em;
  background: linear-gradient(90deg, #00dbe3 60%, #569ce1 100%);
  color:red;
  border: none;
  font-weight: 700;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-bottom: 1.1rem;
  transition: back-ground 0.25s;
}
.buy-btn:hover {
  background: linear-gradient(90deg, #0363d3 60%, #36b8e0 100%);
  text-decoration: none;
}
.buy-section p {
  color: #bbbbbb;
  font-size: 1rem;
  margin: 0;
}
a{
  text-decoration: none;
}
